@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&display=swap');

.titulo{
    font-family: "Arima", system-ui;
    color: #6200ff;
    font-size: 30px;
    margin-bottom: 20px;
}
 

.boton-secundario{
    --background: #a169f8;
    --color: white;
    max-width: 400px;
    margin: 0 auto;
}